<div class="container">
    <div class="row">
        <div class="col-6">
            <!-- image -->
            <img width="90%" src="https://img.freepik.com/free-vector/user-verification-unauthorized-access-prevention-private-account-authentication-cyber-security-people-entering-login-password-safety-measures_335657-3530.jpg?w=360"
                alt="">
        </div>
        <div class="col-6">
            <!-- login form
             -->
            <form class="m-5 p-5 border shadow">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="text-center m-4">
                    <button class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>